# Materials to Exclude (for now)
# Compiled python modules.
*.pyc

# Ignore Jupyter/IPython Notebook Checkpoints
**/.ipynb_checkpoints/

# Ignore eps and pdf graphics files created by Notebooks/Programs in Repo
*.eps
*.pdf

# Exclude any files in "Not For Repo" subdirectories
**/NotForRepo/
**/.ipynb_checkpoints/

# OS Files
.DS_Store
.DS_Store?
._*

# Source Lyx/Tex/BibTex files
*.tex
*.lyx
*lyx-format*.lyx
*.*#
*.bib
*.*~

# Source spreadsheet files
# *.ods
# *.xls
# *.xlsx